body {
  color: #111517;
  background-color: #fafafa;
  font-family: Nunito Sans;
}

.card {
  background-color: #858585;
}
.button {
  background-color: #7672ce;
}
@media (max-width: 375) {
  .card {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .card {
    width: 100%;
  }
}
